// ------------------------
// Utilities for ReMarkdown
// ------------------------

// Output a selector including the option name, depending on
// the content of $rmd-defaults and the value of $rmd-output-all-styles.
// May output an unused placeholder selector (%rmd-void) if
// $rmd-output-all-styles is false and the option is not in
// $rmd-defaults, which drops the entire block from the output.
@function rmd-selector($option:null) {
  $value: "%rmd-void";
  @if $option == null {
    $value: "[" + $rmd-attr + "]";
  }
  @else {
    $query: "[" + $rmd-attr + "~=\"" + $option + "\"]";
    @if index($rmd-defaults, $option) {
      $value: "[" + $rmd-attr + "], " + $query;
    }
    @else if $rmd-output-all-styles {
      @return $query;
    }
  }
  @return $value;
}

// Get a margin value in em from $rmd-margins.
// If not set, returns a value of 1 line.
@function rmd-margin($element, $direction) {
  $elmargins: map-get($rmd-margins, $element);
  @if $elmargins != null {
    $num: map-get($elmargins, $direction);
    @if $num != null {
      @return $rmd-line * $num;
    }
  }
  @return $rmd-line * 1;
}

// Small utility to repeat a string
@function repeat-string($string, $times) {
  $result: "";
  @for $i from 1 through $times {
    $result: $result + $string;
  }
  @return $result;
}
