// --------------
// Header comment
// --------------

@if $rmd-header-comment {
  $rmd-output-all-styles-label: "";
  @if $rmd-output-all-styles {
    $rmd-output-all-styles-label: "all";
  }
  @else {
    $rmd-output-all-styles-label: "defaults only";
  }
/**
 * ReMarkdown #{$rmd-version} - https://fvsch.github.io/remarkdown/
 * [license] WTFPL - https://fvsch.github.io/remarkdown/LICENSE
 * [info] Included styles: #{$rmd-output-all-styles-label}.
 * [info] Defaults: #{$rmd-defaults}
 */
}
