// ----------------
// Option fallbacks
// ----------------

// Spacing

$rmd-lineratio: 1.5 !default;
$rmd-margins: (h1:(top:2), h2:(top:2)) !default;

// Style alternatives

$rmd-defaults:
  hn-hash
  ul-hyphen
  em-star
  strong-star
  a-bracket
  pre-indent
  code-tick
  hr-star
!default;

// Fonts

$rmd-set-font-styles: true !default;
$rmd-primary-font: monospace, monospace !default;
$rmd-code-font: inherit !default;

// Output type

$rmd-attr: "data-rmd" !default;
$rmd-prefer-rem: false !default;
$rmd-output-all-styles: true !default;
$rmd-header-comment: true !default;

// Markers

$rmd-hr-stars:   "* * * *" !default;
$rmd-hr-hyphens: "-------" !default;

// ---------------
// Other variables
// ---------------

$rmd-version: "2.1.0";
$rmd-heading-sign: "#";
$rmd-h1-underline: "==========";
$rmd-h2-underline: "----------";

$rmd-line: $rmd-lineratio * 1em;
@if ($rmd-prefer-rem) {
  $rmd-line: $rmd-lineratio * 1rem;
}
