@charset "UTF-8";
// ================================
// Making a custom ReMarkdown build
// ================================

// --------
// Read me!
// --------

// All options here are similar to the defaults used by remarkdown.scss.
// If you want to build a custom build of ReMarkdown, you may modify the
// options in this file and build it with Sass.
// Not familiar with Sass? See: http://sass-lang.com/
//
// Any option not defined here will fallback to default values.

// -----------------------
// Available build options
// -----------------------

// Height of a line (as a unit-less ratio, e.g. 1.5)
$lineratio: 1.5;

// Margins for titles and more (as number of lines)
// By default we use one line for most things, but you can specify more here:
$margins: (
	h1: (top: 2, bottom: 1),
	h2: (top: 2, bottom: 1),
	hr: (top: 1, bottom: 1),
	blockquote: (top: 1, bottom: 1),
	table: (top: 1, bottom: 1),
);

// Default style variations.
// Separate values with whitespace. Remove or comment out options you
// don't want. Note that all option names are singular:
// e.g. "hr-hyphen" even if we use several hyphens to display a <hr>.
$defaults:
	hn-hash
	// hn-close
	// h1-underline
	// h2-underline
	ul-hyphen
	// ul-star
	// ul-plus 
	em-star
	// em-underscore
	strong-star
	// strong-underscore
	a-bracket
	// a-showurl
	pre-indent
	code-tick
	hr-star
	// hr-center
	// hr-hyphen
	// table-marker
;

// Font stack to use.
// AVOID using "monospace" only, browsers react strangely to that.
$font: monospace, monospace;

// For elements that are traditionnaly monospace, use a different font?
// $font_code: SomethingElse, monospace;

// Should ReMarkdown try to define a font-family, and reset font sizes, styles
// and weights? It's generally useful but if you want to define your fonts
// styles separately, set this to false.
// If false, $font and $font_code are ignored.
$set_font_styles: true;

// Attribute name
$attr: "data-rmd";

// Whether we should include styles for ALL alternative styles (true),
// or only for styles listed in $defaults (false).
// If false, the CSS build will be smaller, but setting options in
// HTML with the `data-rmd` attribute will be impossible.
$output_all_styles: true;

// Whether to output a comment with information about ReMarkdown
// the main build options that were used.
$header_comment: true;

// HR patterns
$hr_stars:     "* * * *";
$hr_hyphens:   "-------";

// ------------------------------------
// Importing the main ReMarkdown styles
// ------------------------------------

@import "all";
