// ------------------------------------
// Basic ReMarkdown styles for elements
// ------------------------------------

[#{$attr}] {

	// Base
	& {
		line-height: $lineratio;
		@if $set_font_styles {
			font-family: $font;
		}
	}

	@if $set_font_styles {
		h1, h2, h3, h4, h5, h6 {
			font-size: inherit;
			font-weight: inherit;
		}
	}

	h1 {
		margin-top: get-margin("h1", "top");
		margin-bottom: get-margin("h1", "bottom");
	}

	h2 {
		margin-top: get-margin("h2", "top");
		margin-bottom: get-margin("h2", "bottom");
	}

	h3, h4, h5, h6 {
		margin-top: get-margin("hn", "top");
		margin-bottom: get-margin("hn", "bottom");
	}

	p {
		margin-top: get-margin("p", "top");
		margin-bottom: get-margin("p", "bottom");
	}

	figure {
		margin: get-margin("figure", "top") 0 get-margin("figure", "bottom");
	}

	ul {
		margin-top: get-margin("ul", "top");
		margin-bottom: get-margin("ul", "bottom");
	}

	ol {
		margin-top: get-margin("ol", "top");
		margin-bottom: get-margin("ol", "bottom");
	}

	ul, ol {
		margin-left: 3ch;
		padding: 0;
		list-style: none;
	}

	ul ul, ul ol,
	ol ul, ol ol {
		// margin-top: $line / 2;
		// margin-bottom: $line / 2;
		margin-top: 0;
		margin-bottom: 0;
	}

	ul > li::before {
		float: left;
		margin-left: -3ch;
		width: 1ch;
	}

	ol {
		counter-reset: item;
	}

	ol > li {
		counter-increment: item;
	}

	ol > li::before {
		float: left;
		margin-left: -4ch;
		width: 3ch;
		overflow: hidden;
		text-align: right;
		content: counter(item) ".";
	}

	ol > li[value]::before {
		content: attr(value) ".";
		// For values like <li value=" 12 ">, resulting in " 12 ."
		word-spacing: -1ch;
	}

	pre {
		margin-top: get-margin("pre", "top");
		margin-bottom: get-margin("pre", "bottom");
		-moz-tab-size: 4;
		tab-size: 4;
	}

	blockquote {
		position: relative;
		margin-top: get-margin("blockquote", "top");
		margin-bottom: get-margin("blockquote", "bottom");
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		padding-left: 3ch;
	}

	blockquote::before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		overflow: hidden;
		white-space: pre;
		content: multi(">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A", 20);
		cursor: default;
	}

	// FIXME: do we need those?
	// blockquote > *:first-child {
	// 	margin-top: 0;
	// }
	// blockquote > *:last-child {
	// 	margin-bottom: 0;
	// }

	hr {
		height: $line;
		line-height: $line;
		margin-top: get-margin("hr", "top");
		margin-bottom: get-margin("hr", "bottom");
		border: none;
		color: inherit;
	}

	@if $set_font_styles {
		em, strong {
			font-style: normal;
			font-weight: normal;
		}
		pre, code, kbd, samp, tt {
			font-family: $font_code;
			// Might be necessary for IE
			// font-size: 100%;
		}
	}

}
