// ------------
// Named styles
// ------------

// H1-6: hn-hash, hn-close

@for $i from 1 through 6 {
	$marker: multi($hn_hash, $i);
	#{sel(hn-hash)} {
		h#{$i}::before { content: $marker + " "; }
	}
	#{sel(hn-close)} {
		h#{$i}::after { content: " " + $marker; }
	}
}

// H1, H2: h1-underline, h2-underline

%hn-underline-common {
	display: table;
	overflow: hidden;
	position: relative;
	padding-bottom: $line;

	&::before {
		content: none;
	}

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		height: $line;
		width: 100%;
		overflow: hidden;
		word-break: break-all;
		cursor: default;
	}
}

#{sel(h1-underline)} {
	h1 {
		@extend %hn-underline-common;
		&::after {
			content: multi($h1_underline, 12);
		}
	}
}

#{sel(h2-underline)} {
	h2 {
		@extend %hn-underline-common;
		&::after {
			content: multi($h2_underline, 12);
		}
	}
}

// EM: em-star, em-underscore 

#{sel(em-star)} {
	em::before, em::after { content: "*"; }
}

#{sel(em-underscore)} {
	em::before, em::after { content: "_"; }
}

// STRONG: strong-star, strong-underscore

#{sel(strong-star)} {
	strong::before, strong::after { content: "**"; }
}

#{sel(strong-underscore)} {
	strong::before, strong::after { content: "__"; }
}

// A: a-bracket, a-showurl

#{sel(a-bracket)} {
	a {
		&::before { content: "["; }
		&::after { content: "]"; }
	}
}

#{sel(a-showurl)} {
	a[href] {
		&::before { content: "["; }
		&::after {
			content: "](" attr(href) ")";
			word-break: break-all;
		}
	}
}

// UL: ul-star, ul-plus, ul-hyphen

#{sel(ul-star)} {
	ul > li::before { content: "*"; }
}
#{sel(ul-plus)} {
	ul > li::before { content: "+"; }
}
#{sel(ul-hyphen)} {
	ul > li::before { content: "-"; }
}

// PRE: pre-indent

#{sel(pre-indent)} {
	pre {
		margin-left: 4ch;
	}
}

// CODE: code-tick

#{sel(code-tick)} {
	:not(pre) > code::before,
	:not(pre) > code::after {
		content: "`";
		// Ticks are very thin, and rarely have a "bold" variant.
		// Trying to make them a bit easier to see.
		text-shadow: 0 1px;
	}
}

// CODE: code-fence, code-fence-wide, code-fence-class

#{sel(code-fence)} {
	pre > code {
		display: block;
	}
	pre > code::before,
	pre > code::after {
		position: relative;
		top: .3em;
		content: "```";
		display: block;
		width: 100%;
		height: $line;
		overflow: hidden;
		word-break: break-all;
		cursor: default;
	}
}

#{sel(code-fence-tilde)} {
	pre > code::before,
	pre > code::after {
		top: 0;
		content: "~~~";
	}
}

#{sel(code-fence-full)} {
	pre > code::before,
	pre > code::after {
		top: 0;
		content: multi("~~~~~~~~~~", 12);
	}
}

// DEL: del-gfm

#{sel(del-gfm)} {
	del {
		text-decoration: none;
	}
	del::before,
	del::after {
		content: "~~";
	}
}

// HR: hr-center, hr-star, hr-hyphen

#{sel(hr-center)} {
	hr { text-align: center; }
}

#{sel(hr-star)} {
	hr::before { content: $hr_stars; }
}

#{sel(hr-hyphen)} {
	hr::before { content: $hr_hyphens; }
}

// TABLE: table-marker

#{sel(table-marker)} {
	table {
		margin-top: get-margin("table", "top");
		margin-bottom: get-margin("table", "bottom");
		border-collapse: collapse;
	}
	tr > * {
		min-width: 3ch;
		position: relative;
		padding: 0;
		text-align: inherit;
		vertical-align: top;
		font-weight: normal;
		border: none;
	}
	tr > * + * {
		padding-left: 3ch;
	}
	tr:first-child > th:not([scope="row"]) {
		padding-bottom: $line;
	}
	tr:first-child > th:not([scope="row"])::after {
		content: multi("-----------", 10);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		word-break: break-all;
		height: $line;
	}
	tr:first-child > * + th:not([scope="row"])::after {
		left: 3ch;
	}
	tr > * + *::before {
		content: multi("|\A", 10);
		position: absolute;
		overflow: hidden;
		left: 1ch;
		top: 0;
		bottom: 0;
		white-space: pre;
	}
	th[scope="row"],
	tr + tr > th:first-child {
		padding-right: 1ch;
	}
	th[scope="row"]::after,
	tr + tr > th:first-child::after {
		position: absolute;
		right: -1ch;
		content: ":";
	}
}
