
// ----------------
// Option fallbacks
// ----------------

// Spacing

$lineratio: 1.5 !default;
$margins: (h1:(top:2), h2:(top:2)) !default;

// Style alternatives

$defaults: hn-hash ul-hyphen em-star strong-star a-bracket pre-indent code-tick hr-star !default;

// Fonts

$set_font_styles: true !default;
// Not just "monospace" or the font-size will shrink to 13px in most browsers!
$font: MyFaveMonospaceFont, monospace !default;
$font_code: inherit !default;

// Output type

$attr: "data-rmd" !default;
$use_rem: false !default;
$output_all_styles: true !default;
$header_comment: true !default;

// Markers

$hr_stars:     "* * * *" !default;
$hr_hyphens:   "-------" !default;

// ---------------
// Other variables
// ---------------

$version: "2.0.0";
$hn_hash:      "#";
$h1_underline: "==========";
$h2_underline: "----------";

$line: $lineratio * 1em;
@if ($use_rem) {
	$line: $lineratio * 1rem;
}
