/*
	ReMarkdown 2.0.0b - http://fvsch.com/code/remarkdown/
	[license] WTFPL - http://fvsch.com/code/remarkdown/COPYING
	[build info] Styles: all. Defaults: hn-hash ul-hyphen em-star strong-star a-bracket pre-indent code-tick hr-star
*/
/*
	These parts are easy to customize.
	Maybe try a different font, or change the color or opacity of the
	Markdown syntax markers (::before and ::after pseudo-elements)?
*/
[data-rmd] {
  font-family: MyFaveMonospaceFont, monospace;
}
[data-rmd] ::before, [data-rmd] ::after {
  /* e.g. color: red; opacity: .5; */
}

/*
	Everything else is better left alone. Quite a few things can be
	customized by making your own CSS build of ReMarkdown.
	See http://fvsch.com/code/remarkdown/config
*/
[data-rmd] {
  line-height: 1.5;
}
[data-rmd] h1, [data-rmd] h2, [data-rmd] h3, [data-rmd] h4, [data-rmd] h5, [data-rmd] h6 {
  font-size: inherit;
  font-weight: inherit;
}
[data-rmd] h1 {
  margin-top: 3em;
  margin-bottom: 1.5em;
}
[data-rmd] h2 {
  margin-top: 3em;
  margin-bottom: 1.5em;
}
[data-rmd] h3, [data-rmd] h4, [data-rmd] h5, [data-rmd] h6 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
[data-rmd] p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
[data-rmd] ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
[data-rmd] ol {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
[data-rmd] ul, [data-rmd] ol {
  margin-left: 3ch;
  padding: 0;
  list-style: none;
}
[data-rmd] ul > li::before {
  float: left;
  margin-left: -3ch;
  width: 1ch;
}
[data-rmd] ol {
  counter-reset: item;
}
[data-rmd] ol > li {
  counter-increment: item;
}
[data-rmd] ol > li::before {
  float: left;
  margin-left: -4ch;
  width: 3ch;
  text-align: right;
  content: counter(item) ".";
}
[data-rmd] em, [data-rmd] strong {
  font-style: normal;
  font-weight: normal;
}
[data-rmd] pre, [data-rmd] code, [data-rmd] kbd, [data-rmd] samp, [data-rmd] tt {
  font-family: inherit;
}
[data-rmd] pre {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  -moz-tab-size: 4;
  tab-size: 4;
}
[data-rmd] blockquote {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-left: 3ch;
}
[data-rmd] blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  white-space: pre;
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A";
}
[data-rmd] hr {
  height: 1.5em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: none;
  color: inherit;
}

[data-rmd] h1::before, [data-rmd~=hn-hash] h1::before {
  content: "# ";
}

[data-rmd~=hn-close] h1::after {
  content: " #";
}

[data-rmd] h2::before, [data-rmd~=hn-hash] h2::before {
  content: "## ";
}

[data-rmd~=hn-close] h2::after {
  content: " ##";
}

[data-rmd] h3::before, [data-rmd~=hn-hash] h3::before {
  content: "### ";
}

[data-rmd~=hn-close] h3::after {
  content: " ###";
}

[data-rmd] h4::before, [data-rmd~=hn-hash] h4::before {
  content: "#### ";
}

[data-rmd~=hn-close] h4::after {
  content: " ####";
}

[data-rmd] h5::before, [data-rmd~=hn-hash] h5::before {
  content: "##### ";
}

[data-rmd~=hn-close] h5::after {
  content: " #####";
}

[data-rmd] h6::before, [data-rmd~=hn-hash] h6::before {
  content: "###### ";
}

[data-rmd~=hn-close] h6::after {
  content: " ######";
}

[data-rmd~=h1-underline] h1, [data-rmd~=h2-underline] h2 {
  display: table;
  overflow: hidden;
  position: relative;
  padding-bottom: 1.5em;
}
[data-rmd~=h1-underline] h1::before, [data-rmd~=h2-underline] h2::before {
  content: none;
}
[data-rmd~=h1-underline] h1::after, [data-rmd~=h2-underline] h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5em;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
}

[data-rmd~=h1-underline] h1::after {
  content: "========================================================================================================================";
}

[data-rmd~=h2-underline] h2::after {
  content: "------------------------------------------------------------------------------------------------------------------------";
}

[data-rmd] em::before, [data-rmd] em::after, [data-rmd~=em-star] em::before, [data-rmd~=em-star] em::after {
  content: "*";
}

[data-rmd~=em-underscore] em::before, [data-rmd~=em-underscore] em::after {
  content: "_";
}

[data-rmd] strong::before, [data-rmd] strong::after, [data-rmd~=strong-star] strong::before, [data-rmd~=strong-star] strong::after {
  content: "**";
}

[data-rmd~=strong-underscore] strong::before, [data-rmd~=strong-underscore] strong::after {
  content: "__";
}

[data-rmd] a::before, [data-rmd~=a-bracket] a::before {
  content: "[";
}
[data-rmd] a::after, [data-rmd~=a-bracket] a::after {
  content: "]";
}

[data-rmd~=a-showurl] a[href]::before {
  content: "[";
}
[data-rmd~=a-showurl] a[href]::after {
  content: "](" attr(href) ")";
  word-break: break-all;
}

[data-rmd~=ul-star] ul > li::before {
  content: "*";
}

[data-rmd~=ul-plus] ul > li::before {
  content: "+";
}

[data-rmd] ul > li::before, [data-rmd~=ul-hyphen] ul > li::before {
  content: "-";
}

[data-rmd] pre, [data-rmd~=pre-indent] pre {
  margin-left: 4ch;
}

[data-rmd] :not(pre) > code::before,
[data-rmd] :not(pre) > code::after, [data-rmd~=code-tick] :not(pre) > code::before,
[data-rmd~=code-tick] :not(pre) > code::after {
  content: "`";
}

[data-rmd~=hr-center] hr {
  text-align: center;
}

[data-rmd] hr::before, [data-rmd~=hr-star] hr::before {
  content: "* * * *";
}

[data-rmd~=hr-hyphen] hr::before {
  content: "-------";
}

[data-rmd~=table-marker] table {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-collapse: collapse;
}
[data-rmd~=table-marker] td, [data-rmd~=table-marker] th {
  overflow: hidden;
  position: relative;
  padding: 0;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
[data-rmd~=table-marker] th {
  padding-bottom: 1.5em;
}
[data-rmd~=table-marker] th::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "--------------------------------------------------------------------------------------------------------------";
  word-break: break-all;
  height: 1.5em;
}
[data-rmd~=table-marker] tr > :nth-child(1n+2) {
  padding-left: 3ch;
}
[data-rmd~=table-marker] tr > :nth-child(1n+2)::before {
  content: "|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A";
  position: absolute;
  left: 1ch;
  white-space: pre;
}
[data-rmd~=table-marker] tr > th:nth-child(1n+2)::after {
  left: 3ch;
}
