// Class-based build of ReMarkdown with no default styles

@use "../lib/rmd";

@include rmd.config(
	$preset: zero,
	$root-selector: ".remarkdown",
	$option-selector: ".remarkdown.%s"
);

@include rmd.header("ReMarkdown-zero %v (MIT) %u");

@include rmd.styles();
