// Attribute-based build of ReMarkdown with no default styles

@use "../lib/rmd";

@include rmd.config(
	$preset: "zero",
	$root-selector: "[data-remarkdown]",
	$option-selector: '[data-remarkdown~=%o]',
);

@include rmd.header("ReMarkdown-zero %v [attr] (MIT) %h");

@include rmd.styles();
