// Build of Remarkdown using default styles
// and `.remarkdown` class selectors with @scope.

@use "../lib/rmd";

@include rmd.config(
	$preset: default,
	// Can use `&` instead of `:scope` for compact output and lower specificity,
	// but wide browser support is more recent (Dec 2025).
	$selectors: (
		default: "",
		option: ":scope.%s",
		root: ":scope",
	)
);

@include rmd.header("Remarkdown %v (MIT) %u");

@scope (.remarkdown) to (.no-remarkdown) {
	@include rmd.styles();
}
