// Attribute-based build of ReMarkdown with no default styles

@use "../lib/rmd";

@include rmd.config(
	$preset: "zero",
	$root-selector: "",
	$option-selector: '&.%o',
);

@include rmd.header("ReMarkdown-zero %v [scope] (MIT) %h");

@scope (.remarkdown) to (.remarkdown-off) {
	@include rmd.styles();
}
