/*
	ReMarkdown 2.0.0b - http://fvsch.com/code/remarkdown/
	[license] WTFPL - http://fvsch.com/code/remarkdown/COPYING
	[build info] Styles: all. Defaults: none
*/
/*
	These parts are easy to customize.
	Maybe try a different font, or change the color or opacity of the
	Markdown syntax markers (::before and ::after pseudo-elements)?
*/
[data-rmd-test] {
  font-family: MyFaveMonospaceFont, monospace;
}
[data-rmd-test] ::before, [data-rmd-test] ::after {
  /* e.g. color: red; opacity: .5; */
}

/*
	Everything else is better left alone. Quite a few things can be
	customized by making your own CSS build of ReMarkdown.
	See http://fvsch.com/code/remarkdown/config
*/
[data-rmd-test] {
  line-height: 1.5;
}
[data-rmd-test] h1, [data-rmd-test] h2, [data-rmd-test] h3, [data-rmd-test] h4, [data-rmd-test] h5, [data-rmd-test] h6 {
  font-size: inherit;
  font-weight: inherit;
}
[data-rmd-test] h1 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
[data-rmd-test] h2 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
[data-rmd-test] h3, [data-rmd-test] h4, [data-rmd-test] h5, [data-rmd-test] h6 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
[data-rmd-test] p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
[data-rmd-test] ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
[data-rmd-test] ol {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
[data-rmd-test] ul, [data-rmd-test] ol {
  margin-left: 3ch;
  padding: 0;
  list-style: none;
}
[data-rmd-test] ul > li::before {
  float: left;
  margin-left: -3ch;
  width: 1ch;
}
[data-rmd-test] ol {
  counter-reset: item;
}
[data-rmd-test] ol > li {
  counter-increment: item;
}
[data-rmd-test] ol > li::before {
  float: left;
  margin-left: -4ch;
  width: 3ch;
  text-align: right;
  content: counter(item) ".";
}
[data-rmd-test] em, [data-rmd-test] strong {
  font-style: normal;
  font-weight: normal;
}
[data-rmd-test] pre, [data-rmd-test] code, [data-rmd-test] kbd, [data-rmd-test] samp, [data-rmd-test] tt {
  font-family: inherit;
}
[data-rmd-test] pre {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  -moz-tab-size: 4;
  tab-size: 4;
}
[data-rmd-test] blockquote {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-left: 3ch;
}
[data-rmd-test] blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  white-space: pre;
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A";
}
[data-rmd-test] hr {
  height: 1.5em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: none;
  color: inherit;
}

[data-rmd-test~=hn-hash] h1::before {
  content: "# ";
}

[data-rmd-test~=hn-close] h1::after {
  content: " #";
}

[data-rmd-test~=hn-hash] h2::before {
  content: "## ";
}

[data-rmd-test~=hn-close] h2::after {
  content: " ##";
}

[data-rmd-test~=hn-hash] h3::before {
  content: "### ";
}

[data-rmd-test~=hn-close] h3::after {
  content: " ###";
}

[data-rmd-test~=hn-hash] h4::before {
  content: "#### ";
}

[data-rmd-test~=hn-close] h4::after {
  content: " ####";
}

[data-rmd-test~=hn-hash] h5::before {
  content: "##### ";
}

[data-rmd-test~=hn-close] h5::after {
  content: " #####";
}

[data-rmd-test~=hn-hash] h6::before {
  content: "###### ";
}

[data-rmd-test~=hn-close] h6::after {
  content: " ######";
}

[data-rmd-test~=h1-underline] h1, [data-rmd-test~=h2-underline] h2 {
  display: table;
  overflow: hidden;
  position: relative;
  padding-bottom: 1.5em;
}
[data-rmd-test~=h1-underline] h1::before, [data-rmd-test~=h2-underline] h2::before {
  content: none;
}
[data-rmd-test~=h1-underline] h1::after, [data-rmd-test~=h2-underline] h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5em;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
}

[data-rmd-test~=h1-underline] h1::after {
  content: "========================================================================================================================";
}

[data-rmd-test~=h2-underline] h2::after {
  content: "------------------------------------------------------------------------------------------------------------------------";
}

[data-rmd-test~=em-star] em::before, [data-rmd-test~=em-star] em::after {
  content: "*";
}

[data-rmd-test~=em-underscore] em::before, [data-rmd-test~=em-underscore] em::after {
  content: "_";
}

[data-rmd-test~=strong-star] strong::before, [data-rmd-test~=strong-star] strong::after {
  content: "**";
}

[data-rmd-test~=strong-underscore] strong::before, [data-rmd-test~=strong-underscore] strong::after {
  content: "__";
}

[data-rmd-test~=a-bracket] a::before {
  content: "[";
}
[data-rmd-test~=a-bracket] a::after {
  content: "]";
}

[data-rmd-test~=a-showurl] a[href]::before {
  content: "[";
}
[data-rmd-test~=a-showurl] a[href]::after {
  content: "](" attr(href) ")";
  word-break: break-all;
}

[data-rmd-test~=ul-star] ul > li::before {
  content: "*";
}

[data-rmd-test~=ul-plus] ul > li::before {
  content: "+";
}

[data-rmd-test~=ul-hyphen] ul > li::before {
  content: "-";
}

[data-rmd-test~=pre-indent] pre {
  margin-left: 4ch;
}

[data-rmd-test~=code-tick] :not(pre) > code::before,
[data-rmd-test~=code-tick] :not(pre) > code::after {
  content: "`";
}

[data-rmd-test~=hr-center] hr {
  text-align: center;
}

[data-rmd-test~=hr-star] hr::before {
  content: "* * * *";
}

[data-rmd-test~=hr-hyphen] hr::before {
  content: "-------";
}

[data-rmd-test~=table-marker] table {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-collapse: collapse;
}
[data-rmd-test~=table-marker] td, [data-rmd-test~=table-marker] th {
  overflow: hidden;
  position: relative;
  padding: 0;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
[data-rmd-test~=table-marker] th {
  padding-bottom: 1.5em;
}
[data-rmd-test~=table-marker] th::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "--------------------------------------------------------------------------------------------------------------";
  word-break: break-all;
  height: 1.5em;
}
[data-rmd-test~=table-marker] tr > :nth-child(1n+2) {
  padding-left: 3ch;
}
[data-rmd-test~=table-marker] tr > :nth-child(1n+2)::before {
  content: "|\A|\A|\A|\A|\A|\A|\A|\A|\A|\A";
  position: absolute;
  left: 1ch;
  white-space: pre;
}
[data-rmd-test~=table-marker] tr > th:nth-child(1n+2)::after {
  left: 3ch;
}
