@use "../lib/rmd";
@use "../preset/zero-config" as *;

@include rmd.configure(
	$selector-base: "[data-remarkdown]",
	$selector-option: "[data-remarkdown~=%o]",
	$default-styles: $default-styles,
	$margins: $margins
);

@include rmd.header("ReMarkdown-zero %v [attr] (MIT) https://fvsch.github.io/remarkdown/");

@include rmd.output();
