/**
 * Styles for ReMarkdown demo pages
 */
@use "sass:meta";

@layer remarkdown, remarkdown-zero-attr;

/// Class-based build of ReMarkdown using default styles
@layer remarkdown {
	@include meta.load-css("./rmd-defaults");
}

/// Attribute-based build of ReMarkdown with no default styles
@layer remarkdown-zero-attr {
	@include meta.load-css("./rmd-zero");
}

/* Demo layout and page styles */

html {
	background-color: white;
	@media (min-width: 900px) {
		background-color: #eee;
	}
}

body {
	max-width: 660px;
	padding: 30px;
	margin: 0 auto;
	color: #202020;

	@media (min-width: 900px) {
		margin: 30px auto;
		padding: 40px 80px;
		border: 1px solid #ddd;
		background-color: white;
		box-shadow: 3px 3px 3px -2px #ddd;
	}
}

a {
	color: #f02050;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid;
}
a:focus,
a:active {
	color: white;
	background-color: #f02050;
}

nav {
	margin: 0 0 4em;
	text-align: right;

	& > br {
		display: none;
	}
	& > span {
		float: left;
	}
	@media (max-width: 900px) {
		& > * {
			display: block;
			padding-bottom: 0.4em;
		}
	}
}

.example {
	margin: 1.5em -30px;
	padding: 0.5em 30px;
	background: #eef;
}

/* Styles page */

#style-list tr > * {
	white-space: nowrap;
}

@scope (.remarkdown) to (.remarkdown-off) {
	/* Make the Markdown-like markers look cool */
	::before,
	::after {
		opacity: 0.6;
		color: #205080;
	}
	code {
		color: #802020;
	}
	pre {
		white-space: pre-wrap;
		color: #802020;
		@media (max-width: 700px) {
			margin-inline-start: 0;
		}
	}
	table {
		margin-block: 2.5em;
		font-size: 95%;
	}
}
