/**
 * Styles for ReMarkdown demo pages
 */
@use "../lib/rmd";

@layer remarkdown {
	/// Class-based build of ReMarkdown using default styles
	@include rmd.config(
		$preset: default,
		$root-selector: null,
		$option-selector: "&.%s",
		$font: (
			Menlo,
			Consolas,
			DejaVu Sans Mono,
			ui-monospace,
			monospace,
		)
	);
	@include rmd.header("ReMarkdown %v [scope-custom] (MIT) %h");
	@scope (.remarkdown) to ([data-remarkdown]) {
		@include rmd.styles();
	}

	/// Attribute-based build of ReMarkdown with no default styles
	@include rmd.config(
		$preset: zero,
		$root-selector: "[data-remarkdown]",
		$option-selector: "[data-remarkdown~=%s]"
	);
	@include rmd.header("ReMarkdown-zero %v [attr] (MIT) %u");
	@include rmd.styles();
}

/* Demo layout and page styles */

:root {
	--text-color: hsl(0 0% 12%);
	--link-color: hsl(346 86% 54%);
	--code-color: hsl(0 60% 31%);
	--pseudo-color: hsl(210 60% 31% / 0.6);
	--bg-color: hsl(0 0% 100%);
	--bg-alt-color: hsl(0 0% 93%);
	--bg-border-color: hsl(0 0% 86%);
	--demo-text-color: hsl(220 50% 32%);
	--demo-bg-color: hsl(235 80% 95%);

	scroll-padding-top: 1lh;
	color: var(--text-color);
	background-color: var(--bg-color);

	@media (width >= 900px) {
		background-color: var(--bg-alt-color);
	}
}

body {
	max-width: 660px;
	padding-block: 30px 50px;
	padding-inline: 30px;
	margin: 0 auto;

	@media (width >= 900px) {
		margin: 30px auto;
		padding-block: 40px 60px;
		padding-inline: 80px;
		border: 1px solid var(--bg-border-color);
		background-color: var(--bg-color);
		box-shadow: 3px 3px 3px -2px var(--bg-border-color);
	}
}

main {
	& > :first-child {
		margin-top: 0;
	}
	& > :last-child {
		margin-bottom: 0;
	}
}

@scope (.remarkdown) to ([data-remarkdown]) {
	/* Make the Markdown-like markers look nice */
	::before,
	::after {
		color: var(--pseudo-color);
	}

	a {
		color: var(--link-color);
		text-decoration-line: none;
		text-decoration-thickness: 1.5px;
		text-underline-offset: 0.25em;
	}
	a:hover {
		text-decoration-line: underline;
	}
	a:focus-visible {
		color: white;
		background-color: var(--link-color);
		outline: solid 2px var(--link-color);
		&::before,
		&::after {
			color: inherit;
		}
	}

	code {
		color: var(--code-color);
	}
	pre {
		tab-size: 2;
		white-space: pre-wrap;
		color: var(--code-color);
		@media (width < 700px) {
			margin-inline-start: 0;
		}
	}

	table {
		margin-block: 2.5em;
		font-size: 95%;
	}
}

/* Nav bar */

nav {
	display: flex;
	flex-direction: column;
	gap: 1ch;
	margin-block: 0 2lh;
	text-align: center;

	& > :first-child {
		font-style: italic;
	}
	& > br {
		display: none;
	}

	@media (width >= 700px) {
		flex-direction: row;
		gap: 2ch;
		text-align: right;
		& > :first-child {
			margin-inline-end: auto;
		}
	}
}

/* Styles page */

#styles {
	figure {
		overflow-x: auto;
		margin: 1.5em -30px;
		padding: 0.5em 30px;
		color: var(--demo-text-color);
		background-color: var(--demo-bg-color);
	}
}

#styles-list {
	tr > :first-child {
		white-space: nowrap;
	}
	@media (width < 700px) {
		tr > :last-child {
			display: none;
		}
	}
}
