@use "../lib/remarkdown" as rmd;

/**
 * Styles for ReMarkdown demo pages
 */

@layer remarkdown, remarkdown-zero-attr;

/// Class-based build of ReMarkdown using default styles
@layer remarkdown {
	@include rmd.configure(
		$selector-base: ".remarkdown",
		$selector-option: ".remarkdown.%o",
		$primary-font: (
			Menlo,
			Monaco,
			"DejaVu Sans Mono",
			Consolas,
			monospace,
		)
	);
	@include rmd.header("ReMarkdown %v (MIT) https://fvsch.github.io/remarkdown/");
	@include rmd.output();
}

/// Attribute-based build of ReMarkdown with no default styles
@layer remarkdown-zero-attr {
	@include rmd.configure(
		$selector-base: "[data-remarkdown]",
		$selector-option: '[data-remarkdown~="%o"]',
		$default-styles: (),
		$margins: ()
	);
	@include rmd.header("ReMarkdown-zero %v [attr] (MIT) https://fvsch.github.io/remarkdown/");
	@include rmd.output();
}

/* Demo layout and page styles */

html {
	background-color: white;
	@media (min-width: 900px) {
		background-color: #eee;
	}
}

body {
	max-width: 660px;
	padding: 30px;
	margin: 0 auto;
	color: #202020;

	@media (min-width: 900px) {
		margin: 30px auto;
		padding: 40px 80px;
		border: 1px solid #ddd;
		background-color: white;
		box-shadow: 3px 3px 3px -2px #ddd;
	}
}

a {
	color: #f02050;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid;
}
a:focus,
a:active {
	color: white;
	background-color: #f02050;
}

nav {
	margin: 0 0 4em;
	text-align: right;

	& > br {
		display: none;
	}
	& > span {
		float: left;
	}
	@media (max-width: 900px) {
		& > * {
			display: block;
			padding-bottom: 0.4em;
		}
	}
}

.example {
	margin: 1.5em -30px;
	padding: 0.5em 30px;
	background: #eef;
}

/* Styles page */

#style-list tr > * {
	white-space: nowrap;
}

/* Our own font-family. Also setting one for code elements */
.remarkdown {
	font-family: Menlo, Monaco, "DejaVu Sans Mono", Consolas, monospace;
}

/* Make the Markdown-like markers look cool */
.remarkdown ::before,
.remarkdown ::after {
	opacity: 0.6;
	color: #205080;
}

.remarkdown code {
	color: #802020;
}

.remarkdown pre {
	white-space: pre-wrap;
	color: #802020;
	font-family: Courier, "Courier New", monospace;

	@media (max-width: 700px) {
		margin-inline-start: 0 !important;
	}
}

.remarkdown table {
	margin-block: 2.5em;
	font-size: 95%;
}
