/**
 * Styles for ReMarkdown demo pages
 */
@layer remarkdown, remarkdown-zero-attr;
@layer remarkdown {
  /*! ReMarkdown 4.0.0-alpha.1 (MIT) https://fvsch.github.io/remarkdown/ */
  /* includes: all styles; defaults: hn-reset hn-hash ul-hyphen ol-decimal quote-gt em-star strong-star a-bracket code-tick pre-indent hr-star; */
  .remarkdown {
    font-family: Menlo, Monaco, "DejaVu Sans Mono", Consolas, monospace;
    line-height: 1.5;
  }
  .remarkdown :is(pre, code, kbd, samp) {
    font-family: inherit;
  }
  .remarkdown h1 {
    font-size: inherit;
    font-weight: inherit;
    margin-block: 1.5lh 1lh;
  }
  .remarkdown h2 {
    font-size: inherit;
    font-weight: inherit;
    margin-block: 1.5lh 1lh;
  }
  .remarkdown :is(h3, h4, h5, h6) {
    font-size: inherit;
    font-weight: inherit;
    margin-block: 1lh;
  }
  .remarkdown h1::before {
    content: "# ";
  }
  .remarkdown h2::before {
    content: "## ";
  }
  .remarkdown h3::before {
    content: "### ";
  }
  .remarkdown h4::before {
    content: "#### ";
  }
  .remarkdown h5::before {
    content: "##### ";
  }
  .remarkdown h6::before {
    content: "###### ";
  }
  [data-remarkdown~="h2-underline"] h2,
  [data-remarkdown~="h1-underline"] h1,
  .remarkdown.h2-underline h2,
  .remarkdown.h1-underline h1 {
    display: table;
    overflow: hidden;
    position: relative;
    padding-bottom: 1lh;
  }
  [data-remarkdown~="h2-underline"] h2::before,
  [data-remarkdown~="h1-underline"] h1::before,
  .remarkdown.h2-underline h2::before,
  .remarkdown.h1-underline h1::before {
    content: none;
  }
  [data-remarkdown~="h2-underline"] h2::after,
  [data-remarkdown~="h1-underline"] h1::after,
  .remarkdown.h2-underline h2::after,
  .remarkdown.h1-underline h1::after {
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    height: 1lh;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    cursor: default;
  }
  .remarkdown.h1-underline h1::after {
    content: "========================================================================================================================";
  }
  .remarkdown.h2-underline h2::after {
    content: "------------------------------------------------------------------------------------------------------------------------";
  }
  .remarkdown p {
    margin-block: 1lh;
  }
  .remarkdown figure {
    margin-block: 1lh;
    margin-inline: 0;
  }
  .remarkdown hr {
    height: 1lh;
    line-height: 1lh;
    margin-block: 1lh;
    margin-inline: 0;
    border: none;
    color: inherit;
  }
  .remarkdown.hr-center hr {
    text-align: center;
  }
  .remarkdown hr::before {
    content: "* * * *";
  }
  .remarkdown.hr-hyphen hr::before {
    content: "-------";
  }
  .remarkdown ul {
    margin-block: 1lh;
    margin-inline: 4ch 0ch;
    padding: 0;
  }
  .remarkdown li ul {
    margin-block: 0;
  }
  .remarkdown.ul-plus ul {
    list-style: none;
  }
  .remarkdown.ul-plus ul > li::before {
    float: inline-start;
    width: 1ch;
    margin-inline-start: -4ch;
    margin-inline-end: 1ch;
    content: "+";
  }
  .remarkdown.ul-star ul {
    list-style: none;
  }
  .remarkdown.ul-star ul > li::before {
    float: inline-start;
    width: 1ch;
    margin-inline-start: -4ch;
    margin-inline-end: 1ch;
    content: "*";
  }
  .remarkdown ul {
    list-style: none;
  }
  .remarkdown ul > li::before {
    float: inline-start;
    width: 1ch;
    margin-inline-start: -4ch;
    margin-inline-end: 1ch;
    content: "-";
  }
  .remarkdown ol {
    margin-block: 1lh;
    margin-inline: 4ch 0ch;
    padding: 0;
  }
  .remarkdown li ol {
    margin-block: 0;
  }
  .remarkdown ol {
    list-style: none;
    counter-reset: rmd-ol;
  }
  .remarkdown ol > li {
    counter-increment: rmd-ol;
  }
  .remarkdown ol > li::before {
    float: inline-start;
    margin-inline-start: -4ch;
    margin-inline-end: 1ch;
    min-width: 2ch;
    content: counter(rmd-ol) ".";
  }
  .remarkdown.ol-zero ol {
    list-style: none;
  }
  .remarkdown.ol-zero ol > li::before {
    float: inline-start;
    margin-inline-start: -4ch;
    margin-inline-end: 1ch;
    min-width: 2ch;
    content: "0.";
  }
  .remarkdown.ol-alpha ol {
    list-style: none;
    counter-reset: rmd-ol;
  }
  .remarkdown.ol-alpha ol > li {
    counter-increment: rmd-ol;
  }
  .remarkdown.ol-alpha ol > li::before {
    float: inline-start;
    margin-inline-start: -4ch;
    margin-inline-end: 1ch;
    min-width: 2ch;
    content: counter(rmd-ol, lower-alpha) ".";
  }
  .remarkdown a::before {
    content: "[";
  }
  .remarkdown a::after {
    content: "]";
  }
  .remarkdown.a-showurl a[href]::before {
    content: "[";
  }
  .remarkdown.a-showurl a[href]::after {
    content: "](" attr(href) ")";
    word-break: break-all;
  }
  .remarkdown em {
    font-style: normal;
    font-weight: normal;
  }
  .remarkdown em::before,
  .remarkdown em::after {
    content: "*";
  }
  .remarkdown.em-underscore em::before,
  .remarkdown.em-underscore em::after {
    content: "_";
  }
  .remarkdown strong {
    font-style: normal;
    font-weight: normal;
  }
  .remarkdown strong::before,
  .remarkdown strong::after {
    content: "**";
  }
  .remarkdown.strong-underscore strong::before,
  .remarkdown.strong-underscore strong::after {
    content: "__";
  }
  .remarkdown code::before,
  .remarkdown code::after {
    content: "`";
  }
  .remarkdown pre code::before,
  .remarkdown pre code::after {
    content: none;
  }
  .remarkdown pre {
    margin-block: 1lh;
    tab-size: 4;
  }
  .remarkdown pre {
    margin-inline: 4ch 0ch;
  }
  [data-remarkdown~="pre-tilde-full"] pre::before,
  [data-remarkdown~="pre-tilde-full"] pre::after,
  [data-remarkdown~="pre-tilde"] pre::before,
  [data-remarkdown~="pre-tilde"] pre::after,
  [data-remarkdown~="pre-tick"] pre::before,
  [data-remarkdown~="pre-tick"] pre::after,
  .remarkdown.pre-tilde-full pre::before,
  .remarkdown.pre-tilde-full pre::after,
  .remarkdown.pre-tilde pre::before,
  .remarkdown.pre-tilde pre::after,
  .remarkdown.pre-tick pre::before,
  .remarkdown.pre-tick pre::after {
    display: block;
    width: 100%;
    height: 1lh;
    cursor: default;
  }
  .remarkdown.pre-tick pre::before,
  .remarkdown.pre-tick pre::after {
    content: "```";
    position: relative;
    top: 0.25em;
  }
  .remarkdown.pre-tilde pre::before,
  .remarkdown.pre-tilde pre::after {
    content: "~~~";
    overflow: hidden;
    word-break: break-all;
  }
  .remarkdown.pre-tilde-full pre::before,
  .remarkdown.pre-tilde-full pre::after {
    content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
    overflow: hidden;
    word-break: break-all;
  }
  .remarkdown blockquote {
    margin-block: 1lh;
    margin-inline: 2ch;
    padding: 0;
  }
  .remarkdown blockquote {
    position: relative;
  }
  .remarkdown blockquote::before {
    position: absolute;
    inset-block: 0;
    inset-inline-start: -2ch;
    width: 1ch;
    overflow: hidden;
    white-space: pre;
    content: ">\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a";
    cursor: default;
  }
  .remarkdown blockquote:dir(rtl)::before {
    content: "<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a";
  }
  .remarkdown.del-gfm del {
    text-decoration: none;
  }
  .remarkdown.del-gfm del::before,
  .remarkdown.del-gfm del::after {
    content: "~~";
  }
  .remarkdown.table-marker table {
    margin-block: 1lh;
    border-collapse: collapse;
  }
  .remarkdown.table-marker tr > * {
    min-width: 3ch;
    position: relative;
    padding: 0;
    text-align: inherit;
    vertical-align: top;
    font-weight: normal;
    border: none;
  }
  .remarkdown.table-marker tr > * + * {
    padding-inline-start: 3ch;
  }
  .remarkdown.table-marker tr:first-child > th:not([scope="row"]) {
    padding-bottom: 1lh;
  }
  .remarkdown.table-marker tr:first-child > th:not([scope="row"])::after {
    content: "--------------------------------------------------------------------------------------------------------------";
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    overflow: hidden;
    word-break: break-all;
    height: 1lh;
  }
  .remarkdown.table-marker tr:first-child > * + th:not([scope="row"])::after {
    inset-inline-start: 3ch;
  }
  .remarkdown.table-marker tr > * + *::before {
    content: "|\a|\a|\a|\a|\a|\a|\a|\a|\a|\a";
    position: absolute;
    inset-block: 0;
    inset-inline-start: 1ch;
    overflow: hidden;
    white-space: pre;
  }
}
@layer remarkdown-zero-attr {
  /*! ReMarkdown-zero 4.0.0-alpha.1 [attr] (MIT) https://fvsch.github.io/remarkdown/ */
  /* includes: all styles; defaults: none; */
  [data-remarkdown] {
    font-family: monospace, monospace;
    line-height: 1.5;
  }
  [data-remarkdown] :is(pre, code, kbd, samp) {
    font-family: inherit;
  }
  [data-remarkdown~="hn-reset"] h1 {
    font-size: inherit;
    font-weight: inherit;
    margin-block: 1lh;
  }
  [data-remarkdown~="hn-reset"] h2 {
    font-size: inherit;
    font-weight: inherit;
    margin-block: 1lh;
  }
  [data-remarkdown~="hn-reset"] :is(h3, h4, h5, h6) {
    font-size: inherit;
    font-weight: inherit;
    margin-block: 1lh;
  }
  [data-remarkdown~="hn-hash"] h1::before {
    content: "# ";
  }
  [data-remarkdown~="hn-hash"] h2::before {
    content: "## ";
  }
  [data-remarkdown~="hn-hash"] h3::before {
    content: "### ";
  }
  [data-remarkdown~="hn-hash"] h4::before {
    content: "#### ";
  }
  [data-remarkdown~="hn-hash"] h5::before {
    content: "##### ";
  }
  [data-remarkdown~="hn-hash"] h6::before {
    content: "###### ";
  }
  [data-remarkdown~="h2-underline"] h2,
  [data-remarkdown~="h1-underline"] h1,
  .remarkdown.h1-underline h1,
  .remarkdown.h2-underline h2 {
    display: table;
    overflow: hidden;
    position: relative;
    padding-bottom: 1lh;
  }
  [data-remarkdown~="h2-underline"] h2::before,
  [data-remarkdown~="h1-underline"] h1::before,
  .remarkdown.h1-underline h1::before,
  .remarkdown.h2-underline h2::before {
    content: none;
  }
  [data-remarkdown~="h2-underline"] h2::after,
  [data-remarkdown~="h1-underline"] h1::after,
  .remarkdown.h1-underline h1::after,
  .remarkdown.h2-underline h2::after {
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    height: 1lh;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    cursor: default;
  }
  [data-remarkdown~="h1-underline"] h1::after {
    content: "========================================================================================================================";
  }
  [data-remarkdown~="h2-underline"] h2::after {
    content: "------------------------------------------------------------------------------------------------------------------------";
  }
  [data-remarkdown] p {
    margin-block: 1lh;
  }
  [data-remarkdown] figure {
    margin-block: 1lh;
    margin-inline: 0;
  }
  [data-remarkdown] hr {
    height: 1lh;
    line-height: 1lh;
    margin-block: 1lh;
    margin-inline: 0;
    border: none;
    color: inherit;
  }
  [data-remarkdown~="hr-center"] hr {
    text-align: center;
  }
  [data-remarkdown~="hr-star"] hr::before {
    content: "* * * *";
  }
  [data-remarkdown~="hr-hyphen"] hr::before {
    content: "-------";
  }
  [data-remarkdown] ul {
    margin-block: 1lh;
    margin-inline: 0ch;
    padding: 0;
  }
  [data-remarkdown] li ul {
    margin-block: 0;
  }
  [data-remarkdown~="ul-plus"] ul {
    list-style: none;
  }
  [data-remarkdown~="ul-plus"] ul > li::before {
    float: inline-start;
    width: 1ch;
    margin-inline-start: 0ch;
    margin-inline-end: 1ch;
    content: "+";
  }
  [data-remarkdown~="ul-star"] ul {
    list-style: none;
  }
  [data-remarkdown~="ul-star"] ul > li::before {
    float: inline-start;
    width: 1ch;
    margin-inline-start: 0ch;
    margin-inline-end: 1ch;
    content: "*";
  }
  [data-remarkdown~="ul-hyphen"] ul {
    list-style: none;
  }
  [data-remarkdown~="ul-hyphen"] ul > li::before {
    float: inline-start;
    width: 1ch;
    margin-inline-start: 0ch;
    margin-inline-end: 1ch;
    content: "-";
  }
  [data-remarkdown] ol {
    margin-block: 1lh;
    margin-inline: 0ch;
    padding: 0;
  }
  [data-remarkdown] li ol {
    margin-block: 0;
  }
  [data-remarkdown~="ol-decimal"] ol {
    list-style: none;
    counter-reset: rmd-ol;
  }
  [data-remarkdown~="ol-decimal"] ol > li {
    counter-increment: rmd-ol;
  }
  [data-remarkdown~="ol-decimal"] ol > li::before {
    float: inline-start;
    margin-inline-start: 0ch;
    margin-inline-end: 1ch;
    min-width: 2ch;
    content: counter(rmd-ol) ".";
  }
  [data-remarkdown~="ol-zero"] ol {
    list-style: none;
  }
  [data-remarkdown~="ol-zero"] ol > li::before {
    float: inline-start;
    margin-inline-start: 0ch;
    margin-inline-end: 1ch;
    min-width: 2ch;
    content: "0.";
  }
  [data-remarkdown~="ol-alpha"] ol {
    list-style: none;
    counter-reset: rmd-ol;
  }
  [data-remarkdown~="ol-alpha"] ol > li {
    counter-increment: rmd-ol;
  }
  [data-remarkdown~="ol-alpha"] ol > li::before {
    float: inline-start;
    margin-inline-start: 0ch;
    margin-inline-end: 1ch;
    min-width: 2ch;
    content: counter(rmd-ol, lower-alpha) ".";
  }
  [data-remarkdown~="a-bracket"] a::before {
    content: "[";
  }
  [data-remarkdown~="a-bracket"] a::after {
    content: "]";
  }
  [data-remarkdown~="a-showurl"] a[href]::before {
    content: "[";
  }
  [data-remarkdown~="a-showurl"] a[href]::after {
    content: "](" attr(href) ")";
    word-break: break-all;
  }
  [data-remarkdown] em {
    font-style: normal;
    font-weight: normal;
  }
  [data-remarkdown~="em-star"] em::before,
  [data-remarkdown~="em-star"] em::after {
    content: "*";
  }
  [data-remarkdown~="em-underscore"] em::before,
  [data-remarkdown~="em-underscore"] em::after {
    content: "_";
  }
  [data-remarkdown] strong {
    font-style: normal;
    font-weight: normal;
  }
  [data-remarkdown~="strong-star"] strong::before,
  [data-remarkdown~="strong-star"] strong::after {
    content: "**";
  }
  [data-remarkdown~="strong-underscore"] strong::before,
  [data-remarkdown~="strong-underscore"] strong::after {
    content: "__";
  }
  [data-remarkdown~="code-tick"] code::before,
  [data-remarkdown~="code-tick"] code::after {
    content: "`";
  }
  [data-remarkdown~="code-tick"] pre code::before,
  [data-remarkdown~="code-tick"] pre code::after {
    content: none;
  }
  [data-remarkdown] pre {
    margin-block: 1lh;
    tab-size: 4;
  }
  [data-remarkdown~="pre-indent"] pre {
    margin-inline: 0ch;
  }
  [data-remarkdown~="pre-tilde-full"] pre::before,
  [data-remarkdown~="pre-tilde-full"] pre::after,
  [data-remarkdown~="pre-tilde"] pre::before,
  [data-remarkdown~="pre-tilde"] pre::after,
  [data-remarkdown~="pre-tick"] pre::before,
  [data-remarkdown~="pre-tick"] pre::after,
  .remarkdown.pre-tick pre::before,
  .remarkdown.pre-tick pre::after,
  .remarkdown.pre-tilde pre::before,
  .remarkdown.pre-tilde pre::after,
  .remarkdown.pre-tilde-full pre::before,
  .remarkdown.pre-tilde-full pre::after {
    display: block;
    width: 100%;
    height: 1lh;
    cursor: default;
  }
  [data-remarkdown~="pre-tick"] pre::before,
  [data-remarkdown~="pre-tick"] pre::after {
    content: "```";
    position: relative;
    top: 0.25em;
  }
  [data-remarkdown~="pre-tilde"] pre::before,
  [data-remarkdown~="pre-tilde"] pre::after {
    content: "~~~";
    overflow: hidden;
    word-break: break-all;
  }
  [data-remarkdown~="pre-tilde-full"] pre::before,
  [data-remarkdown~="pre-tilde-full"] pre::after {
    content: "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~";
    overflow: hidden;
    word-break: break-all;
  }
  [data-remarkdown] blockquote {
    margin-block: 1lh;
    margin-inline: 0ch;
    padding: 0;
  }
  [data-remarkdown~="quote-gt"] blockquote {
    position: relative;
  }
  [data-remarkdown~="quote-gt"] blockquote::before {
    position: absolute;
    inset-block: 0;
    inset-inline-start: -2ch;
    width: 1ch;
    overflow: hidden;
    white-space: pre;
    content: ">\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a";
    cursor: default;
  }
  [data-remarkdown~="quote-gt"] blockquote:dir(rtl)::before {
    content: "<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a<\a";
  }
  [data-remarkdown~="del-gfm"] del {
    text-decoration: none;
  }
  [data-remarkdown~="del-gfm"] del::before,
  [data-remarkdown~="del-gfm"] del::after {
    content: "~~";
  }
  [data-remarkdown~="table-marker"] table {
    margin-block: 1lh;
    border-collapse: collapse;
  }
  [data-remarkdown~="table-marker"] tr > * {
    min-width: 3ch;
    position: relative;
    padding: 0;
    text-align: inherit;
    vertical-align: top;
    font-weight: normal;
    border: none;
  }
  [data-remarkdown~="table-marker"] tr > * + * {
    padding-inline-start: 3ch;
  }
  [data-remarkdown~="table-marker"] tr:first-child > th:not([scope="row"]) {
    padding-bottom: 1lh;
  }
  [data-remarkdown~="table-marker"]
    tr:first-child
    > th:not([scope="row"])::after {
    content: "--------------------------------------------------------------------------------------------------------------";
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    overflow: hidden;
    word-break: break-all;
    height: 1lh;
  }
  [data-remarkdown~="table-marker"]
    tr:first-child
    > *
    + th:not([scope="row"])::after {
    inset-inline-start: 3ch;
  }
  [data-remarkdown~="table-marker"] tr > * + *::before {
    content: "|\a|\a|\a|\a|\a|\a|\a|\a|\a|\a";
    position: absolute;
    inset-block: 0;
    inset-inline-start: 1ch;
    overflow: hidden;
    white-space: pre;
  }
}
/* Demo layout and page styles */
html {
  background-color: white;
}
@media (min-width: 900px) {
  html {
    background-color: #eee;
  }
}

body {
  max-width: 660px;
  padding: 30px;
  margin: 0 auto;
  color: #202020;
}
@media (min-width: 900px) {
  body {
    margin: 30px auto;
    padding: 40px 80px;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 3px 3px 3px -2px #ddd;
  }
}

a {
  color: #f02050;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
}

a:focus,
a:active {
  color: white;
  background-color: #f02050;
}

nav {
  margin: 0 0 4em;
  text-align: right;
}
nav > br {
  display: none;
}
nav > span {
  float: left;
}
@media (max-width: 900px) {
  nav > * {
    display: block;
    padding-bottom: 0.4em;
  }
}

.example {
  margin: 1.5em -30px;
  padding: 0.5em 30px;
  background: #eef;
}

/* Styles page */
#style-list tr > * {
  white-space: nowrap;
}

/* Our own font-family. Also setting one for code elements */
.remarkdown {
  font-family: Menlo, Monaco, "DejaVu Sans Mono", Consolas, monospace;
}

/* Make the Markdown-like markers look cool */
.remarkdown ::before,
.remarkdown ::after {
  opacity: 0.6;
  color: #205080;
}

.remarkdown code {
  color: #802020;
}

.remarkdown pre {
  white-space: pre-wrap;
  color: #802020;
  font-family: Courier, "Courier New", monospace;
}
@media (max-width: 700px) {
  .remarkdown pre {
    margin-inline-start: 0 !important;
  }
}

.remarkdown table {
  margin-block: 2.5em;
  font-size: 95%;
}
