/**
 * Styles for ReMarkdown demo pages
 * Depends on default remarkdown.css
 */

@media (min-width: 900px) {
  html {
    background-color: #EEE;
  }
}

body {
  max-width: 660px;
  padding: 30px;
  margin: 0 auto;
  color: #202020;
  background-color: white;
}
  
@media (min-width: 900px) {
  body {
    margin: 30px auto;
    padding: 40px 80px;
    border: 1px solid #DDD;
    background-color: white;
    box-shadow: 3px 3px 3px -2px #DDD;
  }
}

a {
  color: #F02050;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid;
}
a:focus, a:active {
  color: white;
  background-color: #F02050;
}

nav {
  margin: 0 0 4em;
  text-align: right;
}
nav > br {
  display: none;
}
nav > span {
  float: left;
}
@media (max-width: 900px) {
  nav > * { display: block; padding-bottom: .4em; }
}

.example {
  margin: 1.5em -30px;
  padding: .5em 30px;
  background: #EEF;
}

/* Make the Markdown-like markers look cool */
.remarkdown ::before,
.remarkdown ::after {
  opacity: .6;
  color: #205080;
}

/* Our own font-family. Also setting one for code elements */
.remarkdown {
  font-family: Menlo, Monaco, "DejaVu Sans Mono", Consolas, monospace;
}

.remarkdown pre {
  white-space: pre-wrap;
  color: #802020;
  font-family: Courier, "Courier New", monospace;
}

.remarkdown code {
  color: #802020;  
} 

@media (max-width: 700px) {
  .remarkdown pre {
    margin-left: 0 !important;
  }
}

.remarkdown table {
  margin: 2.5em 0;
  font-size: 95%;
}

/* Styles page */

#style-list tr > * {
  white-space: nowrap;
}
