// ------------------------
// ReMarkdown build options
// ------------------------

// Selectors for the ReMarkdown container and options
// (%o will be replaced with the option name)
$rmd-selector-base: ".remarkdown" !default;
$rmd-selector-option: ".remarkdown.%o" !default;

// Whether we should include styles for ALL alternative styles (true),
// or only for styles listed in $rmd-defaults (false).
// If false, the CSS build will be smaller, but setting options
// in HTML with classes or attribute values will be impossible.
$rmd-output-all-styles: true !default;

// Default style variations.
// Separate values with whitespace. Remove or comment out options you
// don't want. Note that all option names are singular:
// e.g. "hr-hyphen" even if we use several hyphens to display a <hr>.
// prettier-ignore
$rmd-defaults:
  hn-reset
  hn-hash
  // h1-underline
  // h2-underline
  ul-hyphen
  // ul-star
  // ul-plus
  ol-decimal
  // ol-zero
  // ol-alpha
  quote-gt
  em-star
  // em-underscore
  strong-star
  // strong-underscore
  a-bracket
  // a-showurl
  code-tick
  pre-indent
  // pre-tick
  // pre-tilde
  // pre-tilde-full
  hr-star
  // hr-center
  // hr-hyphen
  // del-gfm
  // table-marker
!default;

// Should ReMarkdown try to define a font-family, and reset font sizes, styles
// and weights? It's generally useful but if you want to define your fonts
// styles separately, set this to false.
// If false, $rmd-primary-font and $rmd-code-font are ignored.
$rmd-set-font-styles: true !default;

// Font stack to use.
// AVOID using "monospace" only, or browsers might use a default small
// text size (13px). Always define one or more font families before the
// final ", monospace".
$rmd-primary-font: monospace, monospace !default;

// For elements that are traditionnaly monospace, use a different font?
$rmd-code-font: inherit !default;

// Height of a line (as a unit-less ratio, e.g. 1.5)
$rmd-line-ratio: 1.5 !default;

// Vertical margins for titles and more (as number of lines)
// By default we use one line for everything, but you can specify more here:
$rmd-margins: (
    h1: (top: 1.5, bottom: 1),
    h2: (top: 1.5, bottom: 1),
    hn: (top: 1, bottom: 1),
    hr: (top: 1, bottom: 1),
    p: (top: 1, bottom: 1),
    pre: (top: 1, bottom: 1),
    ol: (top: 1, bottom: 1),
    ul: (top: 1, bottom: 1),
    figure: (top: 1, bottom: 1),
    blockquote: (top: 1, bottom: 1),
    table: (top: 1, bottom: 1)
  )
  !default;

// Horizontal indents (as number of characters) for a few elements
$rmd-indents: (
    ul: (left: 4, right: 0),
    ol: (left: 4, right: 0),
    pre: (left: 4, right: 0),
    blockquote: (left: 2, right: 2)
  )
  !default;

// By default we use the `em` unit for vertical spacing.
// This low-level option allows using `rem` instead.
$rmd-prefer-rem: false !default;

// HR patterns
$rmd-hr-stars: "* * * *" !default;
$rmd-hr-hyphens: "-------" !default;

// Character used for simple headings
$rmd-heading-sign: "#" !default;

// Characters used for undelrlines headings
$rmd-h1-underline: "==========" !default;
$rmd-h2-underline: "----------" !default;
